.piano-keyboard {
  display: flex;
  margin: 20px 0;
  width: fit-content;
}

.white-key {
  width: 60px;
  height: 60px;
  background: white;
  border: 1px solid #000;
  border-radius: 25%;
  margin: 0;
  margin-block-start: 60px;
  cursor: pointer;
  flex-shrink: 0;
}

.white-key:active,
.white-key.active {
  background: #e0e0e0;
}

.black-key {
  width: 60px;
  height: 60px;
  background: #000;
  border: 1px solid #fff;
  border-radius: 25%;
  cursor: pointer;
  flex-shrink: 0;
  margin-inline-start: -29.5px;
  margin-inline-end: -29.5px;
  z-index: 1;
}

.black-key:active,
.black-key.active {
  background: #555;
}

.stop-button {
  margin-top: 10px;
}
