:host {
  display: block;
  z-index: -1;
  margin-block-start: -0.5rem;
}

canvas {
  display: block;
  --canvas-background: black;
  --canvas-line: cyan;
  border: 1px solid black;
  height: 200px;
  width: 360px;
}
