:host {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > * {
    max-width: 50%;
  }
}

button {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid cyan;
  background-color: black;
  color: cyan;
  border-radius: 4px;
}

p {
  line-height: 1.5;
  font-size: 1.2rem;
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
